body {
    margin: 0;
}
p {
    font-family: Georgia;
}
#header{
    display: block;
    width: 100%;
    background: #191919;
    color: #ed9016;
}
.left{
    float: left;
    clear: none;
}
.right{
    float: right;
    clear: none;
}
#header_title{
    margin: 5px;
    font-size: 120px;
 }
#header_img{
    vertical-align: top;
    max-height:150px;
    width: auto;
    height: auto;
    margin: inherit;
}
#header_clock{
    display: block;
    margin: 5px;
    font-size: 120px;
    border-left-color: #eda03e;
}
.header{
    display: inline;
}
.header_text{
    max-height:100%;
    max-width:40%;
}